<div class="d-flex flex-col bg-slate-200">
  <header class="h-20">
    <app-header></app-header>
  </header>
  <main class="max-w-screen-xl flex flex-grow flex-col lg:flex-row w-full lg:w-4/5 mx-auto">
    <div class="w-full lg:w-1/2 p-8 mx-auto text-2xl">
      <app-summary></app-summary>
      <button type="button" class="mt-4 inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
        <svg class="size-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
          <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
          <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2Z"/>
          </svg>
        See my resume
      </button>
    </div>
    <div class="w-full lg:w-1/2 flex justify-center px-16">
      <lottie-player src="../assets/lottie/coding.json"  background="transparent"  speed="1" loop  autoplay >
      </lottie-player>
    </div>
  </main>
</div>

<app-developer></app-developer>
